.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  padding: 92px 50px 96px 50px;
}
.header__links-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
}
.header__link_active {
  text-decoration: none;
  list-style-type: none;
}
.header__logo {
  display: block;
  width: 140px;
  justify-content: center;
}
.address {
  font-style: normal;
  text-underline-offset: 4px;
  line-height: 24.3px;
  font-size: 18px;
  max-width: 240px;
  width: 100%;
}

.header__address {
  justify-self: end;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  position: relative;
}
.h1_fonts {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  text-transform: uppercase;
  letter-spacing: 30px;
  padding: 165px 50px 103px;
}
.aligned-text {
  padding-bottom: 20px;
}
.aligned-text_right {
  align-self: flex-end;
  margin-right: -30px;
}
.aligned-text_center {
  align-self: center;
  margin-right: -30px;
  padding-bottom: 20px;
}
.cover__description {
  display: flex;
  padding: 0 50px 50px 50px;
  align-items: center;
}
.cover__description-text {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 18px;
  flex-grow: 1;
}
.bet-button {
  padding: 12px 32px 11px 31px;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-weight: 500;
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}
.lots {
  padding: 180px 24px 0 24px;
}
.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 27px;
}
.lots__card-list {
  display: flex;
  list-style: none;
  column-gap: 25px;
  flex-wrap: wrap;
}
.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  position: relative;
}
.card-link {
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
}
.card__title {
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}
.card__text {
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}
.foreground {
  z-index: 999;
}
.lots__look-more-link {
  display: block;
  font-size: 20px;
  font-weight: 400;
  padding-left: 40px;
  padding-top: 30px;
  text-decoration: underline;
}
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  padding: 120px 24px 180px 24px;
}
.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 136px;
  padding-bottom: 100px;
}
.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin-top: 35px;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.right {
  padding-left: 24px;
}
.paragraf {
  padding-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 84px;
}

.footer__menu-link_active {
  text-decoration: none;
}
.footer__adress {
  justify-self: start;
}
.footer__menu {
  justify-self: center;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.footer__menu-list {
  list-style: none;
}
.footer__social-list {
  list-style: none;
  display: flex;
  gap: 48px;
  justify-content: end;
}
.footer__social-icon {
  display: flex;
  width: 48px;
  height: 48px;
}
.logo_youtoube {
  background-image: url(../images/yt.svg);
}
.logo_vk {
  background-image: url(../images/vk.svg);
}
.logo_pinterest {
  background-image: url(../images/pinterest.svg);
}
